





h1 {
    color: blue;
    background-color: white;
    border: 5px solid blue;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
}

body {
    font-family: cursive;
    background-image: url('https://source.unsplash.com/1600x900/?library');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


 /* put a background url */
}

/* .page {
    border: 1px solid #665544;
    background-color: #efefef;
    padding: inherit;
} */

a:link {
    color: deeppink;
    text-decoration: none;
    background-color: white;
    border: 2px solid blue;
    padding: 8px;
    border-radius: 10px;
    opacity: .8;

}

a:visited {
    color:blue;
}

a:hover {
    color: deeppink;
    text-decoration: underline;
    opacity: 1;
}

a:active {
    color: darkcyan;
}

input {
    padding: 6px 12px 6px 12px;
    border: 1px solid #665544;
    color: black;
}

/* button.submit:hover {
    background-color: #665544;
}
button.submit:active {
    background-color: chocolate;

} */
/* input.text {
    color: black;
} */

input.text:focus {
    color: #665544;
}

ul {
    column-count: 2;
    list-style: none;
}

.bookList {
    list-style: inside circle;
    /* width: 300px; */
}

/* Fieldset of when adding a new user */
fieldset {
    width: 350px;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #dcdcdc;
}

legend {
    background-color: #efefef;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
}


li {
    border: 5px solid #ee3e80;
    padding: 20px;
    width: 275px;
    border-radius: 10px;
    background-color: white;
    opacity: .8;
}
li:hover {
    opacity: 1;
}
